name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Login to Docker Hub
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build Docker image
    - name: Build image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/midapp:latest .
        docker tag ${{ secrets.DOCKERHUB_USERNAME }}/midapp:latest ${{ secrets.DOCKERHUB_USERNAME }}/midapp:${{ github.sha }}

    # Push image to Docker Hub
    - name: Push image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/midapp:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/midapp:${{ github.sha }}
